@using Business.DTOs.Account
@model UserRegisterDTO

@section PageStyles {
    <link rel="stylesheet" href="~/vendor/css/pages/page-auth.css">
}

@{
    Layout = null;
}

@* ************** Content ************** *@

<div class="position-relative">
    <div style="width: 58%; margin: auto;" class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner py-6 mx-4">

            <!-- Register Card -->
            <div class="card p-7">
                <!-- Logo -->
                <div class="app-brand justify-content-center mt-5">
                    <a href="/" class="app-brand-link gap-3">
                        <span class="app-brand-text demo text-heading fw-semibold">Botanical</span>
                    </a>
                </div>
                <!-- /Logo -->
                <div class="card-body mt-1">
                    <h4 class="mb-2">Register Page</h4>

                    <form asp-action="Register" method="Post" id="formAuthentication" class="mb-5">
                        <div class="form-floating form-floating-outline">
                            <input type="text" class="form-control" id="Firstname" asp-for="Firstname" name="Firstname" placeholder="Enter your firstname" autofocus>
                            <label asp-for="Firstname">Firstname</label>
                            <span class="form-text text-danger" asp-validation-for="Firstname"></span>
                        </div>
                        <div class="form-floating form-floating-outline">
                            <input type="text" class="form-control" id="Lastname" asp-for="Lastname" name="Lastname" placeholder="Enter your lastname" autofocus>
                            <label asp-for="Lastname">Lastname</label>
                            <span class="form-text text-danger" asp-validation-for="Lastname"></span>
                        </div>
                        <div class="form-floating form-floating-outline">
                            <input type="text" class="form-control" id="username" asp-for="Username" name="Username" placeholder="Enter your username" autofocus>
                            <label asp-for="Username">Username</label>
                            <span class="form-text text-danger" asp-validation-for="Username"></span>
                        </div>
                        <div class="form-floating form-floating-outline">
                            <input type="text" class="form-control" id="email" asp-for="Email" name="Email" placeholder="Enter your email">
                            <label asp-for="Email">Email</label>
                            <span class="form-text text-danger" asp-validation-for="Email"></span>
                        </div>
                        <div class="form-password-toggle">
                            <div class="input-group input-group-merge">
                                <div class="form-floating form-floating-outline">
                                    <input type="password" id="password" class="form-control" asp-for="Password" name="Password" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" aria-describedby="password" />
                                    <label asp-for="Password">Password</label>
                                    <span class="form-text text-danger" asp-validation-for="Password"></span>
                                </div>
                                <span style="height:48px" class="input-group-text cursor-pointer"><i class="ri-eye-off-line ri-20px"></i></span>
                            </div>
                        </div>
                        <div style="height:48px" class="form-password-toggle">
                            <div class="input-group input-group-merge">
                                <div class="form-floating form-floating-outline">
                                    <input type="ConfirmPassword" id="confirmPassword" class="form-control" asp-for="ConfirmPassword" name="ConfirmPassword" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" aria-describedby="password" />
                                    <label asp-for="ConfirmPassword">ConfirmPassword</label>
                                    <span class="form-text text-danger" asp-validation-for="ConfirmPassword"></span>
                                </div>
                                <span style="height:48px" class="input-group-text cursor-pointer"><i class="ri-eye-off-line ri-20px"></i></span>
                            </div>
                        </div>

                        <div class=" mb-2 py-2">
                            <div class="form-check mb-0">
                                <input style="height:20px !important;" class="form-check-input" type="checkbox" id="terms-conditions" name="terms">
                                <label class="form-check-label" for="terms-conditions">
                                    I agree to
                                    <a href="javascript:void(0);">privacy policy & terms</a>
                                </label>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary d-grid w-100 mb-5">
                            Sign up
                        </button>
                    </form>

                    <p class="text-center">
                        <span>Already have an account?</span>
                        <a asp-controller="User" asp-action="Login">
                            <span>Sign in instead</span>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
