@using Business.DTOs.Account
@model ForgotPasswordDTO

@section PageStyles {
    <link rel="stylesheet" href="~/vendor/css/pages/page-auth.css">
}

@{
    Layout = null;
}

@* ************** Content ************** *@

<div class="position-relative">
    <div style="width: 58%; margin: auto;" class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner py-6 mx-4">

            <!-- Logo -->
            <div class="card p-7">
                <!-- Forgot Password -->
                <div class="app-brand justify-content-center mt-5">
                    <a href="/" class="app-brand-link gap-3">
                        <span class="app-brand-text demo text-heading fw-semibold">Botanical</span>
                    </a>
                </div>
                <!-- /Logo -->
                <div class="card-body mt-1">
                    <h4 class="mb-1">Forgot Password? 🔒</h4>
                    <p class="mb-5">Enter your email and we'll send you instructions to reset your password</p>
                    <form asp-controller="User" asp-action="VerifyEmail" method="Post" id="formAuthentication" class="mb-5">
                        <div class="form-floating form-floating-outline mb-5">
                            <input type="text" class="form-control" id="Email" asp-for="Email" name="Email" placeholder="Enter your email" autofocus>
                            <label asp-for="Email">Email</label>
                            <span class="form-text text-danger" asp-validation-for="Email"></span>
                        </div>
                        <button type="submit" class="btn btn-primary d-grid w-100 mb-5">Send Reset Link</button>
                    </form>
                    <div class="text-center">
                        <a asp-controller="User" asp-action="ChangePassword" class="d-flex align-items-center justify-content-center">
                            <i class="ri-arrow-left-s-line scaleX-n1-rtl ri-20px me-1_5"></i>
                            Back to login
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
